body{
  
	font-family: Arial;
	margin: 0;
	padding: 0;
	    background: linear-gradient(

		to top right,

            	rgba(552, 69, 3, 0.77),

            	rgba(0, 170, 170, 0.4)

    ),

    url("https://wallpaperplay.com/walls/full/4/2/2/234831.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: darkred;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}

.titleborder {
 border-style:solid;
 border-color:white;
}


footer{
	text-align: center;
	background-color: #3f4145;
	color: white;
	padding: 25px;
}



/* Containers */
.container {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.one {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

/* Buttons */

.btn-one {
  background-image: linear-gradient(to left,red,orange,red);
}
.btn{
	border: none;
	margin: 20px;
	padding: 24px;
	width: 220px;
	font-family: "Arial";
	border-radius: 6px;
  cursor: pointer;
	color: #fff;
	background-size: 200%;
  transition: 0.6s;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;;
  
}

  .btn:hover{
    background-position: right;
    opacity: 0.9;
  
  }
  
  .btn2{
    background-image: linear-gradient(to left,mediumblue,skyblue,mediumblue);
  
  }
  
  .btn3{
    background-image: linear-gradient(to left,forestgreen,lawngreen,forestgreen);
  
  }
  
  .btn4{
    background-image: linear-gradient(to left,darkmagenta,fuchsia,darkmagenta);
  
  }

/* CSS Grid */

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .containerOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }